body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}


main{
    width: 100%;
    height: 100%;
    margin: 0;
}

nav{
    float: left;
    width:10vw;
    height: 100vh;
    background-color: navy;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo img{
    margin-top: 10px;
    width: 67%;
}

.inicio{
    width: 100%;
}

.inicio img{
    width: 20%;
}

a {
    text-decoration: none;
}

.inicio button{
    width:100% ;
    margin-top: 10px;
    padding: 10px;
    background-color: #0c2e41;
    cursor: pointer;
    color: #ffff;
    font-size: clamp(1vw, 1.5vw, 2vw);
    font-family: 'Space Grotesk';
    display: flex;
    justify-content: center;
    border: 0;
}

.conta{
    width: 100%;
}

.fotoconta{
    filter: brightness(0) invert(1);
}

.manual{
    float: right;
}

.manual button{
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: #0c2e41;
    cursor: pointer;
    color: #ffff;
    font-size: clamp(1vw, 1vw, 2vw);
    font-family: 'Space Grotesk';
    display: flex;
    justify-content: center;
    border: 0;
}

.adicionar{
    width: 300px;
    height: auto;
    background-color: red;
}