body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}


main{
    float: right;
    width: 90%;
    height: 100%;
    margin: 0;
}

nav{
    float: left;
    width:10vw;
    height: 100vh;
    background-color: navy;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo img{
    margin-top: 10px;
    width: 67%;
}

.inicio{
    width: 100%;
}

.inicio img{
    width: 20%;
}

a {
    text-decoration: none;
}

.inicio button{
    width:100% ;
    margin-top: 10px;
    padding: 10px;
    background-color: #0c2e41;
    cursor: pointer;
    color: #ffff;
    font-size: clamp(1vw, 1.5vw, 2vw);
    font-family: 'Space Grotesk';
    display: flex;
    justify-content: center;
    border: 0;
}

.conta{
    width: 100%;
}

.fotoconta{
    filter: brightness(0) invert(1);
}

.manual{
    float: right;
}

.manual{
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
    background-color: #0c2e41;
    cursor: pointer;
    color: #ffff;
    font-size: clamp(.85vw, .85vw, 2vw);
    text-align: center;
    font-family: 'Space Grotesk';
    display: flex;
    justify-content: center;
    border: 0;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.375);
  backdrop-filter: blur(6px);
}

dialog img {
  width: 100%;
  max-height: 60vh;
  object-fit: contain;
  border-radius: 10px;
}

dialog p {
  font-size: 18px;
}

dialog {
  padding: 20px;
  border: none;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.close {
  float: right;
  border: none;
  background: none;
  font-size: 26px;
  cursor: pointer;
}

.adicionar{
    width: 500px;
    height: 700px;
    background-color: rgba(190, 188, 188, 0.992);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Quem{
    width: 60%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: clamp(1vw, 1.5vw, 2vw);
    font-family: 'Montserrat';
    font-weight: 600;
    border-radius: 10px;
}

#Quem option{
    font-size: clamp(1vw, 1.5vw, 2vw);
    font-family: 'Montserrat';
    font-weight: 600;
}

#Oque{
    width: 60%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: clamp(1vw, 1.5vw, 2vw);
    font-family: 'Montserrat';
    font-weight: 600;
    border-radius: 10px;
}

#Oque option{
    font-size: clamp(1vw, 1.5vw, 2vw);
    font-family: 'Montserrat';
    font-weight: 600;
}

.Temp{
    margin: 20px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Temperatura{
    font-size: clamp(1vw, 1.5vw, 2vw);
    font-family: 'Montserrat';
}

.valor{
    font-size: clamp(2vw, 2vw, 3vw);
    font-family: 'Montserrat';
    font-weight: 600;
}